{
  "presets": ["env", "react","stage-2","@babel/preset-typescript",],
  "plugins": [
    "react-hot-loader/babel",
    "lodash",
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }],
    ["module-resolver", {
      "root": ["./"],
      "alias": {
      },
      "extensions": [".js", ".ts", ".tsx"]
    }]
  ]
}
